In [135]:
#to debug package errors
import sys
sys.path
sys.executable

'C:\\Users\\oolus\\anaconda3\\python.exe'

In [152]:

# Import needed packages
# You may add or remove packages should you need them
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn import datasets
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Set random seed
np.random.seed(0)

# Display plots inline and change plot resolution to retina
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
# Set Seaborn aesthetic parameters to defaults
sns.set()

In [161]:
datasets.load_iris().keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [137]:
datasets.load_iris().frame
print(datasets.load_iris().frame)

None

In [138]:
data = datasets.load_iris().data
target = datasets.load_iris().target
classes = datasets.load_iris().target_names

In [139]:
df = pd.DataFrame(data, columns = ['sepal length', 'sepal width', 'petal length', 'petal width'])
da = pd.DataFrame(target, columns =['target'])
da['class'] = da['target'].replace({0:'setosa', 1:'versicolor',2:'virginica'})

In [140]:
df_DataFrame = df.join(da)

In [160]:
df_DataFrame.head(10)

   sepal length  sepal width  petal length  petal width  target   class
0           5.1          3.5           1.4          0.2       0  setosa
1           4.9          3.0           1.4          0.2       0  setosa
2           4.7          3.2           1.3          0.2       0  setosa
3           4.6          3.1           1.5          0.2       0  setosa
4           5.0          3.6           1.4          0.2       0  setosa
5           5.4          3.9           1.7          0.4       0  setosa
6           4.6          3.4           1.4          0.3       0  setosa
7           5.0          3.4           1.5          0.2       0  setosa
8           4.4          2.9           1.4          0.2       0  setosa
9           4.9          3.1           1.5          0.1       0  setosa

In [142]:
pd.get_dummies(target)

     0  1  2
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
4    1  0  0
..  .. .. ..
145  0  0  1
146  0  0  1
147  0  0  1
148  0  0  1
149  0  0  1

[150 rows x 3 columns]

In [143]:
df_DataFrame_features = ['sepal length', 'sepal width', 'petal length', 'petal width',]
X = df_DataFrame[df_DataFrame_features]
X.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [144]:
Y = df_DataFrame.target

In [145]:
np.array(X).shape
#print(arr.shape)

(150, 4)

In [146]:
np.array(Y).shape

(150,)

In [147]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.40, random_state =20)

In [148]:
X_train

     sepal length  sepal width  petal length  petal width
97            6.2          2.9           4.3          1.3
92            5.8          2.6           4.0          1.2
69            5.6          2.5           3.9          1.1
86            6.7          3.1           4.7          1.5
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
22            4.6          3.6           1.0          0.2
75            6.6          3.0           4.4          1.4
137           6.4          3.1           5.5          1.8
15            5.7          4.4           1.5          0.4
99            5.7          2.8           4.1          1.3

[90 rows x 4 columns]

In [154]:
#Normalize the dataset
Scaler = MinMaxScaler()
x = Scaler.fit_transform(X_train)

In [155]:
#Normalize the dataset
Scall = StandardScaler()
x = Scall.fit_transform(X_train)

In [157]:
sample = LogisticRegression()
sample.fit(X_train, Y_train)

LogisticRegression()

In [159]:
sample.score(X_test, Y_test)

0.95